<div class="suntimes__wrapper" [style]="styleForWrapper">
    <div class="background background__current"></div>
    <div class="background background__next"></div>
    <div class="suntimes__header">
        <h1>Suntimes</h1>
        <div class="suntimes__header__buttons">
            <button class="image-icon-wrapper location-settings__button btn"
                [class]="{ 'btn--active': locationSettingsActive }" title="Location"
                (click)="openModal(locationSettingsActive ? undefined : Modal.LocationSettings)">
                <i class="fas fa-map-marker-alt"></i>
            </button>
            <button class="image-icon-wrapper general-settings__button btn"
                [class]="{ 'btn--active': generalSettingsActive }"
                (click)="openModal(generalSettingsActive ? undefined : Modal.GeneralSettings)">
                <i class="fas fa-cog"></i>
            </button>
        </div>
    </div>
    <div class="suntimes__modals">
        <div class="suntimes__modals__modal" [hidden]="!generalSettingsActive">
            <general-settings (close)="generalSettingsActive = false"></general-settings>
        </div>
        <div class="suntimes__modals__modal" [hidden]="!locationSettingsActive">
            <location-settings [lng]="lng.value" [lat]="lat.value" (lngChange)="lng.next($event)"
                (latChange)="lat.next($event)" (geolocate)="geolocate()"></location-settings>
        </div>
    </div>
    <div>
        <span>Jelenlegi idő</span>
        <span class="notranslate">{{ strftime("%Y.%m.%d. %H:%M:%S", now.value) }}</span>
        <br />
        <span>Napfelkelte:</span>
        <span class="notranslate">{{
            strftime("%H:%M:%S", _sunTimes.sunrise)
            }}</span>
        <br />
        <span>Naplemente:</span>
        <span class="notranslate">{{
            strftime("%H:%M:%S", _sunTimes.sunset)
            }}</span>
        <br />
        <span>Nap hossza:</span>
        <span class="notranslate">{{
            format_timespan(_sunTimes.day_length)
            }}</span>
        <br />
        <span>Altitude:</span>
        <span class="notranslate">{{ _sunPosition.altitude.toFixed(3) }} deg</span>
        <br />
        <span>Altitude rate:</span>
        <span class="notranslate">{{ altituderate.toFixed(2) }} deg / 5min</span>
        <br />
        <span>Azimuth:</span>
        <span class="notranslate">{{ _sunPosition.azimuth.toFixed(3) }} deg</span>
        <br />
        <span>Százalék:</span>
        <span class="notranslate">{{ _percentage.toFixed(3) }} %</span>
        <br />
        <div class="progress sunpercentage">
            <div class="determinate" [style]="{ width: _percentage + '%' }"></div>
        </div>
        <time-selector [time]="now.value" (timeChange)="now.next($event)" (stopTick)="stopTick()"
            (goNow)="startTick()"></time-selector>
        <sun-graph [date]="_currentDayLuxon" [activePoint]="_minuteOfDay"
            [labelColor]="styleForWrapper['--foreground-sun']"></sun-graph>

        <div>
            Sun data by:
            <a href="https://www.npmjs.com/package/suncalc">https://www.npmjs.com/package/suncalc</a>
        </div>
    </div>
</div>